<!doctype html>
<html ng-app="protocoloApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        
        <link href="https://file.myfontastic.com/mnEaDyrxtBPxRTfG7ZvwSE/icons.css" rel="stylesheet">
        
        <script src="./app.js"></script>
        <link rel="stylesheet" href="./protocolo.css">
    </head>
    <body ng-controller="ViewController as viewCtrl">
        <div class="container-fluid">
            <div class="page-header">
                <h4>Protocolo de diseño Caso-Control BIFAP v1.0 <span class="glyphicon glyphicon-cog" ng-click="viewCtrl.test()"></span></h4>
            </div>
            <div class="row fixed-height padded">
                <div class="col-md-12">
                    <div class="col-md-3" role="navigation">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a ng-click="viewCtrl.setSubsection('general','main')" href="#">General</a></li>
                            <li ng-show="viewCtrl.viewFlags.activeSection=='general'" class="bf-menu-subsect"><a ng-click="viewCtrl.setSubsection('general','titulo')" href="#">Título e hipótesis</a></li>
                            <li ng-show="viewCtrl.viewFlags.activeSection=='general'" class="bf-menu-subsect"><a ng-click="viewCtrl.setSubsection('general','antecedentes')" href="#">Antecedentes</a></li>
                            <li ng-show="viewCtrl.viewFlags.activeSection=='general'" class="bf-menu-subsect"><a ng-click="viewCtrl.setSubsection('general','objetivos')" href="#">Objetivos</a></li>
                            
                            <li><a ng-click="viewCtrl.setSubsection('poblacion','main')" href="#">Población</a></li>
                            
                            <li ng-show="viewCtrl.viewFlags.activeSection=='poblacion'" class="bf-menu-subsect"><a ng-click="viewCtrl.setSubsection('poblacion','periodo')" href="#">Periodo, edad y sexo</a></li>
                            <li ng-show="viewCtrl.viewFlags.activeSection=='poblacion'" class="bf-menu-subsect"><a ng-click="viewCtrl.setSubsection('poblacion','inclusion')" href="#">Criterios de inclusión</a></li>
                            <li ng-show="viewCtrl.viewFlags.activeSection=='poblacion'" class="bf-menu-subsect"><a ng-click="viewCtrl.setSubsection('poblacion','exclusion')" href="#">Criterios de exclusión</a></li>
                            <li ng-show="viewCtrl.viewFlags.activeSection=='poblacion'" class="bf-menu-subsect"><a ng-click="viewCtrl.setSubsection('poblacion','comentarios')" href="#">Comentarios</a></li>
                            
                            
                            
                            
                            <li><a ng-click="viewCtrl.setSubsection('evento','main')" href="#">Evento</a></li>
                            <li ng-show="viewCtrl.viewFlags.activeSection=='evento'" class="bf-menu-subsect"><a ng-click="viewCtrl.setSubsection('evento','definicion')" href="#">Definición de caso</a></li>
                            <li ng-show="viewCtrl.viewFlags.activeSection=='evento'" class="bf-menu-subsect"><a ng-click="viewCtrl.setSubsection('evento','avanzadas')" href="#">Opciones avanzadas</a></li>
                            <li ng-show="viewCtrl.viewFlags.activeSection=='evento'" class="bf-menu-subsect"><a ng-click="viewCtrl.setSubsection('evento','comentarios')" href="#">Comentarios</a></li>
                            
                            
                            
                            <li><a ng-click="viewCtrl.setSubsection('controles','main')" href="#">Controles</a></li>
                            
                            <li ng-show="viewCtrl.viewFlags.activeSection=='controles'" class="bf-menu-subsect"><a ng-click="viewCtrl.setSubsection('controles','criterios')" href="#">Selección de controles</a></li>
                            
                            
                            
                            <li><a ng-click="viewCtrl.viewFlags.activeSection = 'exposicion'" href="#">Exposición principal</a></li>
                            <li><a ng-click="viewCtrl.viewFlags.activeSection = 'covariables'" href="#">Covariables</a></li>
                            <li><a ng-click="viewCtrl.viewFlags.activeSection = 'analisis'" href="#">Plan de análisis</a></li>
                            <li><a ng-click="viewCtrl.viewFlags.activeSection = 'limitaciones'" href="#">Limitaciones</a></li>
                            
                            <li><a ng-click="viewCtrl.viewFlags.activeSection = 'cronograma'" href="#">Cronograma</a></li>
                            <li><a ng-click="viewCtrl.viewFlags.activeSection = 'bibliografia'" href="#">Bibliografía</a></li>
                            <li><a ng-click="viewCtrl.viewFlags.activeSection = 'resumen'" href="#">Resumen</a></li>
                        </ul>
                    </div>
                    <div class="col-md-9 fixed-height-col">
                        <div ng-show="viewCtrl.viewFlags.activeSection =='general'">
                            <h1>Datos generales sobre el protocolo</h1>
                            
                                <div ng-show="viewCtrl.viewFlags.activeSubsection == 'main'">
                                    <p>En este apartado debe introducir datos generales sobre el protocolo como el título, hipótesis principal, antecedentes que lo justifican y objectivo principal y secundarios del estudio.</p>
                                    <button class="btn btn-info btn-lg" ng-click="viewCtrl.setSubsection('general','titulo')">Siguiente: Título e hipótesis</button>
                                </div>
                                <div ng-show="viewCtrl.viewFlags.activeSubsection == 'titulo'">
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="titulo">Título del proyecto</label>
                                            <input name="titulo" type="text" class="form-control" ng-model="viewCtrl.protocolo.titulo"></input>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="hipotesis">Hipótesis principal</label>
                                            <input name="hipotesis" type="text" class="form-control" ng-model="viewCtrl.protocolo.hipotesis"></input>
                                        </div>
                                        
                                        <button class="btn btn-info btn-lg" ng-click="viewCtrl.setSubsection('general','antecedentes')">Siguiente: Antecedentes</button>
                                    </div>
                                </div>
                                
                                <div ng-show="viewCtrl.viewFlags.activeSubsection == 'antecedentes'">
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="antecedentes">Antecedentes</label>
                                            <textarea name="antecedentes" class="form-control" rows="10" maxlength="6000" ng-model="viewCtrl.protocolo.antecedentes"></textarea>
                                        </div>
                                    </div>
                                    
                                    <button class="btn btn-info btn-lg" ng-click="viewCtrl.setSubsection('general','objetivos')">Siguiente: Objetivos</button>
                                </div>
                                
                                <div ng-show="viewCtrl.viewFlags.activeSubsection == 'objetivos'">
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="objetivos">Objetivos del proyecto</label>
                                            <textarea name="objetivos" class="form-control" rows="10" maxlength="1000" ng-model="viewCtrl.protocolo.objetivos"></textarea>
                                        </div>                            
                                        
                                        <button class="btn btn-info btn-lg" ng-click="viewCtrl.setSubsection('poblacion','main')">Siguiente: Población a estudio</button>
                                    </div>
                                    
                                </div>

                            
                            
                        </div>
                        <div ng-show="viewCtrl.viewFlags.activeSection=='poblacion'">
                            <h1>Población</h1>
                            <div ng-show="viewCtrl.viewFlags.activeSubsection=='main'">
                                <p>En este apartado debe definir la población que va a ser incluida en el estudio. En primer lugar los años que va a estudiar, la edad y sexo de los pacientes, así como los criterios de inclusión y de exclusión en el estudio.</p>
                                <button class="btn btn-info btn-lg" ng-click="viewCtrl.setSubsection('poblacion','periodo')">Siguiente: Periodo de estudio</button>
                            </div>
                            <div ng-show="viewCtrl.viewFlags.activeSubsection=='periodo'">
                                        <h4>Periodo de estudio</h4>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                <label>Desde 1 de enero de:</label>
                                                </div>
                                                <div class="col-xs-2">
                                                <input id="formPeriodoIni" class="form-control" type="number" max="2013" min="2001" value="2005" ng-model="viewCtrl.protocolo.poblacion.periodo.inicio"></input>            
                                                </div>
                                                <div class="col-xs-3">
                                                <label>Hasta 31 de diciembre de:</label>
                                                </div>
                                                <div class="col-xs-2">
                                                <input id="formPeriodoEnd" class="form-control" type="number" max="2014" min="2002" value="2010" ng-model="viewCtrl.protocolo.poblacion.periodo.fin"></input>
                                                </div>
                                            </div>
                                            
                                            <h4>Rango de edad</h4>
                                            <div class="row">
                                                <div class="col-xs-3">
                                                <label class="control-label">Edad mínima:</label>
                                                </div>
                                                <div class="col-xs-2">
                                                <input id="formEdadMin" class="form-control" type="number" max="109" min="0" value="0" ng-model="viewCtrl.protocolo.poblacion.edad.minima"></input>            
                                                </div>
                                                <div class="col-xs-3">
                                                <label class="control-label">Edad máxima:</label>
                                                </div>
                                                <div class="col-xs-2">
                                                <input id="formEdadMax" class="form-control" type="number" max="109" min="0" value="109" ng-model="viewCtrl.protocolo.poblacion.edad.maxima"></input>                
                                                </div>
                                            </div>
            
                                            <label class="control-label" for="sexo">Sexo</label>
                                            <select name="sexo" class="form-control" ng-model="viewCtrl.protocolo.poblacion.sexo">
                                              <option selected value="ambos">Ambos sexos</option>
                                              <option value="hombres">Solamente Hombres</option>
                                              <option value="mujeres">Solamente Mujeres</option>
                                            </select>
                                            
            
                                            
                                        </div>
                                        <button class="btn btn-info btn-lg" ng-click="viewCtrl.setSubsection('poblacion','inclusion')">Siguiente: Criterios de inclusión</button>
                                        
            
                                        

                                </div>
                                
                                <div ng-show="viewCtrl.viewFlags.activeSubsection=='inclusion'">

                                        <div class="form-group">
                                            <label for="inclusion">Criterios de inclusión</label>
                                            <textarea id="inclusion" class="form-control" rows=10 maxlength="1500" ng-model="viewCtrl.protocolo.poblacion.inclusion"></textarea>
                                        </div>
                                        <button class="btn btn-info btn-lg" ng-click="viewCtrl.setSubsection('poblacion','exclusion')">Siguiente: Criterios de exclusión</button>
                                        

                                </div>
                                
                                <div ng-show="viewCtrl.viewFlags.activeSubsection=='exclusion'">

                                        <div class="form-group">
                                            <label for="exclusion">Criterios de exclusion</label>
                                            <textarea id="exclusion" class="form-control" rows=10 maxlength="1500" ng-model="viewCtrl.protocolo.poblacion.exclusion"></textarea>
                                        </div>
                                        
                                        <button class="btn btn-info btn-lg" ng-click="viewCtrl.setSubsection('poblacion','comentarios')">Siguiente: Comentarios</button>
            

                                </div>
                                
                                <div ng-show="viewCtrl.viewFlags.activeSubsection=='comentarios'">

                                        <div class="form-group">
                                            <label for="formPoblacionComentarios">Comentarios adicionales sobre población a estudio</label>
                                            <textarea id="formPoblacionComentarios" class="form-control" rows=10 maxlength="1500" ng-model="viewCtrl.protocolo.poblacion.comentarios"></textarea>
                                        </div>
                                        
                                        <button class="btn btn-info btn-lg" ng-click="viewCtrl.setSubsection('evento','main')">Siguiente: Definición del evento (casos)</button>

                                </div>
                               
                            </div>
                        <div ng-show="viewCtrl.viewFlags.activeSection=='evento'">
                            <h1>Evento principal - Definición de caso</h1>
                            <div ng-show="viewCtrl.viewFlags.activeSubsection == 'main'">
                                <p>En este apartado debe definir los criterios que definen el evento (outcome o caso) que quiere estudiar.</p>
                                <button class="btn btn-info btn-lg" ng-click="viewCtrl.setSubsection('evento','definicion')">Siguiente: Definición de caso</button>
                                
                                
                            </div>
                            
                            <div ng-show="viewCtrl.viewFlags.activeSubsection == 'definicion'">
                                        <div class="form-group">
                                            <label class="control-label" for="formSexo">El evento (caso) a estudiar tiene que ver con:</label>
                                            <select class="form-control" ng-model="viewCtrl.protocolo.caso.tipo">
                                                <option value="diagnostico" selected>Un diagnóstico</option>
                                                <option value="farmaco">El uso de fármacos</option>
                                                <option value="mixto">Un diagnóstico y/o el uso de fármacos</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="">Escriba una definición clínica del evento (definición de caso) que quiere incluir en el estudio</label>
                                            <textarea class="form-control" rows="6" maxlength="1500" ng-model="viewCtrl.protocolo.caso.definicion"></textarea>
                                        </div>
                                        
                                        <button class="btn btn-info btn-lg" ng-click="viewCtrl.setSubsection('evento','avanzadas')">Siguiente: Definición avanzada de caso</button>

                            </div>
                            
                            <div ng-show="viewCtrl.viewFlags.activeSubsection == 'avanzadas'">
                                
                                <div class="form-group">
                                    <div>La definición requiere datos adicionales (analíticas, derivaciones a especialistas...)
                                        <label class="radio-inline">
                                          <input type="radio" name="eventoUsaDGP" ng-model="viewCtrl.protocolo.caso.adicionales.requerido" ng-value="true"> Si
                                        </label>
                                        <label class="radio-inline">
                                          <input type="radio" name="eventoUsaDGP" ng-model="viewCtrl.protocolo.caso.adicionales.requerido" ng-value="false"> No
                                        </label>

                                    </div>
                                    
                                    <div ng-show="viewCtrl.protocolo.caso.adicionales.requerido">
                                        <label for="eventoUsaDGPDetalles">Describa los criterios para definir el evento con datos adicionales (analíticas, derivaciones, etc)</label>
                                        <textarea class="form-control" rows="6" maxlength="1500" ng-model="viewCtrl.protocolo.caso.adicionales.detalles"></textarea>
                                    </div>
                                </div>
                                

                                
                                <div ng-hide="viewCtrl.protocolo.caso.tipo == 'diagnostico'">¿Se requiere clasificación de los casos según dosis?
                                    <label class="radio-inline">
                                      <input type="radio" ng-value="true" ng-model="viewCtrl.protocolo.caso.dosis.requerido"> Si
                                    </label>
                                    <label class="radio-inline">
                                      <input type="radio" ng-value="false" ng-model="viewCtrl.protocolo.caso.dosis.requerido"> No
                                    </label>
                                
                                
                                    <div ng-show="viewCtrl.protocolo.caso.dosis.requerido">
                                        <select class="form-control" ng-model="viewCtrl.protocolo.caso.dosis.tipo">
                                            <option value="ddd">Según valores oficiales de Dosis Diaria Definida</option>
                                            <option value="manual">Según puntos de corte definidos manualmente para cada fármaco</option>
                                            <option value="otros">Otros criterios</option>
                                        </select>
                                        
                                        <div ng-hide="viewCtrl.protocolo.caso.dosis.tipo == 'ddd'">
                                            <label  ng-show="viewCtrl.protocolo.caso.dosis.tipo == 'manual'">Especifique los puntos de corte para dosis baja, intermedia y alta de cada fármaco:</label>
                                            <label  ng-show="viewCtrl.protocolo.caso.dosis.tipo == 'otros'">Especifique los criterios de estratificación por dosis para cada fármaco:</label>
                                            
                                            <textarea class="form-control" rows="4" maxlength="1500" ng-model="viewCtrl.protocolo.caso.dosis.detalles"></textarea>
                                        </div>
                                        
                                    </div>
                                    

                                </div>

                                <div ng-hide="viewCtrl.protocolo.caso.tipo == 'diagnostico'">¿Se requiere clasificación de los casos según duración del tratamiento?
                                    <label class="radio-inline">
                                      <input type="radio" name="eventoRequiereDuracion" ng-value="true" ng-model="viewCtrl.protocolo.caso.duracion.requerido"> Si
                                    </label>
                                    <label class="radio-inline">
                                      <input type="radio" name="eventoRequiereDuracion" ng-value="false" ng-model="viewCtrl.protocolo.caso.duracion.requerido"> No
                                    </label>
                                    
                                    <div ng-show="viewCtrl.protocolo.caso.duracion.requerido" class="form-group">
                                        <div>
                                            <input type="radio" name="eventoDuracion" value="continua" ng-model="viewCtrl.protocolo.caso.duracion.tipo"> <strong>Duración contínua:</strong> desde la primera prescripción de estudio se van encadenando las duraciones de todas las prescripciones siguientes mientras entre el final de una y el principio de la siguiente no pasen más de <input type="text" ng-model="viewCtrl.protocolo.caso.duracion.gap" size="2"> días (gap).
                                        </div>
                                        <div>
                                            <input type="radio" name="eventoDuracion" value="acumulada" ng-model="viewCtrl.protocolo.caso.duracion.tipo"> <strong>Duración acumulada:</strong> tiempo total que ha estado utilizando el fármaco/s de interés independientemente de que sea en contínuo o no.
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                                
                                <button class="btn btn-info btn-lg" ng-click="viewCtrl.setSubsection('evento','comentarios')">Siguiente: Comentarios</button>
                                
                            </div>
                                
                            <div ng-show="viewCtrl.viewFlags.activeSubsection == 'comentarios'">
                                <div class="form-group">
                                    <label >Si tiene experiencia usando datos de BIFAP puede opcionalmente describir una definición operativa más detallada</label>
                                    <textarea class="form-control" rows="16" maxlength="1500" ng-model="viewCtrl.protocolo.caso.comentarios"></textarea>
                                </div>
                                
                                <button class="btn btn-info btn-lg" ng-click="viewCtrl.setSubsection('controles','main')">Siguiente: Controles</button>
                            </div>
                            
                            
                        </div>
                        
                        
                        
                        <div ng-show="viewCtrl.viewFlags.activeSection=='controles'">
                            <h1>Controles</h1>
                            
                            <div ng-show="viewCtrl.viewFlags.activeSubsection == 'main'">
                                <p>En esta sección debe específicar los criterios para la selección de los controles en el estudio.</p>
                                <button class="btn btn-info btn-lg" ng-click="viewCtrl.setSubsection('controles','criterios')">Siguiente: Selección de controles</button>
                            </div>
                            
                            <div ng-show="viewCtrl.viewFlags.activeSubsection == 'criterios'">

                                    <div class="form-group">
                                        <label>Número de controles por caso</label>
                                        <input id="formNumControlesPorCaso" type="number" min="1" max="10" class="form-control" value="1" ng-model="viewCtrl.protocolo.controles.numero"></input>
                                    </div>
                                    <div>Se requiere emparejamiento de casos y controles
                                        <label class="radio-inline">
                                          <input type="radio" name="emparejamiento" ng-value="true" ng-model="viewCtrl.protocolo.controles.emparejamiento.requerido" > Si
                                        </label>
                                        <label class="radio-inline">
                                          <input type="radio" name="emparejamiento" ng-value="false" ng-model="viewCtrl.protocolo.controles.emparejamiento.requerido"> No
                                        </label>
                                        
                                        <div ng-show="viewCtrl.protocolo.controles.emparejamiento.requerido">
                                            
                                            <div class="form-group">
                                                <div>Emparejamiento por edad
                                                <label class="radio-inline">
                                                  <input type="radio" name="emparejamientoEdad" ng-value="true" ng-model="viewCtrl.protocolo.controles.emparejamiento.edad"> Si
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" name="emparejamientoEdad" ng-value="false" ng-model="viewCtrl.protocolo.controles.emparejamiento.edad" > No
                                                </label>
                                                </div>
                                            </div> 
                                            
                                            <div class="form-group">
                                                <div>Emparejamiento por sexo
                                                <label class="radio-inline">
                                                  <input type="radio" name="emparejamientoSexo" ng-value="true" ng-model="viewCtrl.protocolo.controles.emparejamiento.sexo"> Si
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" name="emparejamientoSexo" ng-value="false" ng-model="viewCtrl.protocolo.controles.emparejamiento.sexo"> No
                                                </label>
                                                </div>
                                            </div> 
                                            
                                            <div class="form-group">
                                                <div>Emparejamiento por año calendario
                                                <label class="radio-inline">
                                                  <input type="radio" name="emparejamientoPeriodo" ng-value="false" ng-model="viewCtrl.protocolo.controles.emparejamiento.periodo"> Si
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" name="emparejamientoPeriodo" ng-value="false" ng-model="viewCtrl.protocolo.controles.emparejamiento.periodo"> No
                                                </label>
                                                </div>
                                            </div> 
                                            
                                            
                                            <label for="emparejamientoDetalles">Otros criterios de emparejamiento</label>
                                            <textarea id="emparejamientoDetalles" class="form-control" rows="3" maxlength="1500" ng-model="viewCtrl.protocolo.controles.emparejamiento.detalles"></textarea>
                                        </div>
                                    </div>
 
                            </div>
                            
                            
                            
                            
                            
                        </div>
                        
                        
                        
                        <div ng-show="viewCtrl.viewFlags.activeSection=='exposicion'">
                            <h1>Exposición</h1>
                        </div>
                        
                        
                        
                        <div ng-show="viewCtrl.viewFlags.activeSection=='covariables'">
                            <h1>Covariables</h1>
                            <button class="btn btn-success" ng-hide="viewCtrl.viewFlags.creatingCovariable" ng-click='viewCtrl.viewFlags.creatingCovariable = true'><h5><span class="glyphicon glyphicon-plus-sign"></span> Crear covariable</h5></button>
                            
                            <div class="form" ng-show="viewCtrl.viewFlags.creatingCovariable">
                                <div class="form-group">
                                    <label class="control-label" for="formSexo">La covariable es:</label>
                                    <select class="form-control" ng-model="viewCtrl.newCovariable.tipo">
                                        <option value="diagnostico" selected>Un diagnóstico</option>
                                        <option value="farmaco">El uso de un fármaco</option>
                                        <option value="tabaco">Tabaquismo</option>
                                        <option value="alcohol">Consumo de alcohol</option>
                                        <option value="imc">Índice de masa corporal</option>
                                    </select>
                                </div>
                                <div ng-hide="viewCtrl.newCovariable.tipo == ''">
                                    <div class="form-group">
                                        <label >Nombre de la covariable </label>
                                        <input type="text" class="form-control" ng-model="viewCtrl.newCovariable.nombre"></input>
                                    </div>
    
                                    
                                    <button class="btn btn-success btn-lg" ng-click='viewCtrl.addCovariable()'>Añadir covariable</button>
                                </div>

                            </div>
                            
                            
                            <div class="panel panel-default" style="margin-top: 50px; padding: 10px;">
                                <div ng-repeat="covariable in viewCtrl.protocolo.covariables">
                                    <div class="form-inline">
                                        <span style="font-size: 2em" ng-class="{'icon-user-md': covariable.tipo == 'diagnostico', 'icon-pill': covariable.tipo == 'farmaco', 'glyphicon glyphicon-briefcase': covariable.tipo != 'diagnostico' && covariable.tipo != 'farmaco'}"></span>
                                       <input ng-model="covariable.nombre" type="text" class="form-control"></input>
                                       
                                       
                                       <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        
                        
                        <div ng-show="viewCtrl.viewFlags.activeSection=='analisis'">
                            <h1>Análisis</h1>
                        </div>
                        
                        
                        
                        <div ng-show="viewCtrl.viewFlags.activeSection=='limitaciones'">
                            <h1>Limitaciones</h1>
                        </div>
                        
                        
                        
                        <div ng-show="viewCtrl.viewFlags.activeSection=='cronograma'">
                            <h1>Cronograma</h1>
                        </div>
                        
                        
                        
                        <div ng-show="viewCtrl.viewFlags.activeSection=='bibliografia'">
                            <h1>Bibliografía</h1>
                        </div>
                        
                        
                        
                        <div ng-show="viewCtrl.viewFlags.activeSection=='resumen'">
                            <h1>Resumen</h1>
                            <p>Título: {{viewCtrl.protocolo.titulo}}</p>
                            <p>Hipótesis: {{viewCtrl.protocolo.hipotesis}}</p>
                            <p>Antecedentes: {{viewCtrl.protocolo.antecedentes}}</p>
                            <p>Objetivos: {{viewCtrl.protocolo.objetivos}}</p>
                            <p>Periodo: {{viewCtrl.protocolo.poblacion.periodo.inicio}} a {{viewCtrl.protocolo.poblacion.periodo.fin}}</p>
                            <p>Edad: {{viewCtrl.protocolo.poblacion.edad.minima}} a {{viewCtrl.protocolo.poblacion.edad.maxima}}</p>
                            <p>Sexo: {{viewCtrl.protocolo.poblacion.sexo}}</p>
                            <p>Criterios de inclusión: {{viewCtrl.protocolo.poblacion.inclusion}}</p>
                            <p>Criterios de exclusión: {{viewCtrl.protocolo.poblacion.exclusion}}</p>
                            <p>Comentarios: {{viewCtrl.protocolo.poblacion.comentarios}}</p>
                            <p>Tipo de evento principal: {{viewCtrl.protocolo.caso.tipo}}</p>
                            <p>Definición del evento principal: {{viewCtrl.protocolo.caso.definicion}}</p>
                            
                            <p>Requiere datos adicionales: {{viewCtrl.protocolo.caso.adicionales.requerido}}</p>
                            <p>Datos adicionales: {{viewCtrl.protocolo.caso.adicionales.detalles}}</p>
                            
                            <p>Estratificación por dosis requerida: {{viewCtrl.protocolo.caso.dosis.requerido}}</p>
                            <p>Tipo estratificación por dosis: {{viewCtrl.protocolo.caso.dosis.tipo}}</p>
                            <p>Detalles estratificación por dosis: {{viewCtrl.protocolo.caso.dosis.detalles}}</p>
                            <p>Estratificación por duracion requerida: {{viewCtrl.protocolo.caso.duracion.requerido}}</p>
                            <p>Tipo estratificación por duracion: {{viewCtrl.protocolo.caso.duracion.tipo}}</p>
                            <p>GAP para duración: {{viewCtrl.protocolo.caso.duracion.gap}}</p>
                            
                            
                            <div class="form-group">
                                <label for="formResumenDelProyecto">Resumen del proyecto <button type="button" class="btn btn-link btn-xs help-button" data-toggle="modal" data-target="#ayuda_01-02"><span class="glyphicon glyphicon-question-sign help-icon" aria-label="ayuda"></span></button></label>
                                <textarea id="formResumenDelProyecto" class="form-control" rows="10" maxlength="1500"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="formMetodos">Pacientes y métodos</label>
                                <textarea id="formMetodos" class="form-control" rows="10" maxlength="6000"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="formDiseno">Diseño del estudio</label>
                                <textarea id="formDiseno" class="form-control" rows="10" maxlength="6000"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>