textarea {
    resize: none;
}

.fixed-height {
    height: 500px;
    background-color: #d9d9d9;
    overflow: hidden;
}

.fixed-height-col {
    height: 480px;
    background-color: #d9d9d9;
    overflow: scroll;
}


.padded {
    padding: 3px;
    margin: 2px;
}

.section-hidden {
    display: none;
}

.section-shown {
    display: block;
}

.hidden {
    display: none;
}

.help-icon {
    color: #0357FF;
    vertical-align: top;
    padding: 2px;
    cursor: help;
    font-size: 1.5em;
    /* outline: 1px auto #0357FF;*/
}

.help-button {
    cursor: help;
}
