textarea {
    resize: none;
}

.fixed-height {
    height: 500px;
    background-color: #d9d9d9;
    overflow: hidden;
}

.fixed-height-col {
    height: 480px;
    background-color: #d9d9d9;
    overflow: scroll;
}


.padded {
    padding: 3px;
    margin: 2px;
}

.section-hidden {
    display: none;
}

.section-shown {
    display: block;
}